:root {
    --primary-color: #8ecae6;
    --secondary-color: #023047;
    --accent-color1: #ffb703;
    --accent-color2: #fb8500;
    --text-color: black;
}

body {
    font-family: "Caacupe One", sans-serif;
    font-weight: 400;
}

header {
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    padding-top: 10px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    padding: 10px;
}

header nav a {
    text-decoration: none;
    color: var(--accent-color1)
}

nav a:hover {
    text-decoration: overline;
}

main {
    display: grid;
    max-width: 800px;
    grid-template: 80px 1fr / 1fr 1fr;
    margin: 2rem auto;
}

h1 {
    font-weight: 100;
    grid-column: 1/3;
    text-align: center;
}

.card {
    border: solid 1px #333;
    border-radius: 10px;
}

.card h2 {
    background-color: var(--secondary-color);
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: white;
}

.left {
    grid-column: 1/2;
    margin: 10px;
}

.left p {
    padding: 10px;
}

.align-right {
    float: right;
    padding: 10px;
}

.right {
    margin: 10px;
}

.right img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 10px;
}