@media (min-width: 740px) {
    #menu {
        display: none;
    }
    
    .navigation {
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .navigation a {
        display: flex;
    }

    stuff {
        margin: 1rem;
    }
}